<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新书</title>
</head>
<body>
<form action="/bookstore/add" method="post">
    <div>
        <label>书名</label>
        <input type="text" name="title" required>
    </div>
    <div>
        <label>出版社</label>
        <input type="text" name="pub" required>
    </div>
    <div>
    <label>定价</label>
        <input type="text" name="price" required>
    </div>
    <div>
    <label>零售价</label>
        <input type="text" name="market_price" required>
    </div>
    <div>
        <input type="submit" value="添加新书">
    </div>
</form>

</body>
</html>